[tool.uv]
# Python builds change with uv versions, and we are quite susceptible to that.
# We pin uv to to make sure reproducibility is maintained for any contributor.
required-version = ">=0.9.5"

[tool.uv.workspace]
members = ["codspeed", "pytest-codspeed", "asv-codspeed"]

[tool.uv.sources]
codspeed = { workspace = true }
pytest-codspeed = { workspace = true }
asv-codspeed = { workspace = true }

[dependency-groups]
dev = [
    "codspeed",
    "pytest-codspeed",
    "asv-codspeed",
    "mypy ~= 1.18.2",
    "ruff ~= 0.11.12",
    "pytest ~= 7.0",
    "pytest-cov ~= 4.0.0",
    "pytest-test-groups>=1.1.0",
]

[tool.mypy]
python_version = "3.12"
exclude = ["pytest-codspeed/tests/benchmarks/TheAlgorithms"]

[tool.ruff]
target-version = "py37"
extend-exclude = ["pytest-codspeed/tests/benchmarks/TheAlgorithms"]

[tool.ruff.lint]
select = ["E", "F", "I", "C", "TCH", "FA", "UP"]
flake8-type-checking = { exempt-modules = [], strict = true }

[tool.isort]
line_length = 88
multi_line_output = 3
include_trailing_comma = true
use_parentheses = true
force_grid_wrap = 0
float_to_top = true

[tool.pytest.ini_options]
addopts = "--ignore=pytest-codspeed/tests/benchmarks --ignore=pytest-codspeed/tests/examples"
filterwarnings = ["ignore::DeprecationWarning:pytest_benchmark.utils.*:"]
pythonpath = ["pytest-codspeed/tests/benchmarks/TheAlgorithms", "scripts"]

[tool.coverage.run]
branch = true
[tool.coverage.report]
include = ["*/src/*", "*/tests/*"]
omit = ["**/conftest.py"]
exclude_lines = [
    "pragma: no cover",
    "if TYPE_CHECKING:",
    "@pytest.mark.skip",
    "@abstractmethod",
]
