name: Release on tag

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  build-codspeed-wheels:
    strategy:
      matrix:
        platform:
          - runs-on: ubuntu-24.04
            arch: x86_64
          - runs-on: buildjet-8vcpu-ubuntu-2204-arm
            arch: aarch64

    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Build codspeed wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_ARCHS: ${{ matrix.platform.arch }}
        with:
          package-dir: codspeed
          output-dir: wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          name: codspeed-wheels-${{ matrix.platform.arch }}
          path: wheelhouse/*.whl

  build-codspeed-py3-none-any:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Build codspeed py3-none-any wheel
        env:
          CODSPEED_SKIP_EXTENSION_BUILD: "1"
        run: uv build --wheel --out-dir dist/ --package codspeed

      - uses: actions/upload-artifact@v4
        with:
          name: codspeed-wheels-py3-none-any
          path: dist/*.whl

  build-pytest-codspeed:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Build pytest-codspeed wheel
        run: uv build --wheel --out-dir dist/ --package pytest-codspeed
      - name: Build pytest-codspeed sdist
        run: uv build --sdist --out-dir dist/ --package pytest-codspeed

      - uses: actions/upload-artifact@v4
        with:
          name: pytest-codspeed-dist
          path: dist/*

  build-codspeed-sdist:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Build the codspeed source dist
        run: uv build --sdist --out-dir dist/ --package codspeed

      - uses: actions/upload-artifact@v4
        with:
          name: codspeed-sdist
          path: dist/*.tar.gz

  publish:
    needs:
      - build-codspeed-wheels
      - build-codspeed-py3-none-any
      - build-codspeed-sdist
      - build-pytest-codspeed

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: dist/
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: dist/

      - name: List artifacts
        run: ls -al dist/*

      - if: github.event_name == 'push'
        name: Publish to PyPI
        run: uv publish --trusted-publishing=always dist/*

      - if: github.event_name == 'push'
        name: Create a draft release
        run: |
          VERSION="${{ github.ref_name }}"
          gh release create $VERSION --title $VERSION --generate-notes -d
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
